$line-color: #dadada;
$main-color: #444;
$letter-color: #465362;

aside {
    min-width: 300px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    grid-area: aside;
}

.plangs_sect {
    h2 {margin: 0;}

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;

        li {
            font-size: 0.8rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .color_cx {
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 100%;
            }
        }
    }
}

.percentage_bar {
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        height: 10px;
        background-color: #dadada;
    }

    &>div:first-child {
        border-radius: 10px 0 0 10px;
    }

    &>div:last-child {
        border-radius: 0 10px 10px 0;
    }
}

.owner_sect {
    .owner_data {
        flex: 1;

        h2 {margin: 0;}
        .see_btn {
            text-align: center;
            margin-top: auto;
            bottom: 0;
            font-weight: 500;
            padding: 5px 10px;
            border: $line-color solid 1px;
            border-radius: 5px;
        }
    }

    img {
        width: 120px;
        height: 120px;
    }
}