<main class="px-[10px] py-[25px] sm:p-[50px]">
    <div class="header_sect flex justify-between items-center">
        <h1>{{repoData.name ? repoData.name : 'Repositorio no encontrado'}}</h1>

        <div class="flex justify-center items-center gap-2"
        *ngIf="branchSelect.value && !tableDataLoading">
            <mat-icon>history</mat-icon>
            <span>{{commitsHistory.length}} commits</span>
        </div>

        <mat-spinner *ngIf="tableDataLoading"
        diameter="25"></mat-spinner>
    </div>

    <section class="main_container">
        <div class="select_sect flex justify-between items-start">
            <h2>Commits History</h2>
            <mat-form-field
            *ngIf="repoData?.refs?.nodes!.length > 0">
                <mat-select placeholder="Branch"
                [formControl]="branchSelect"
                (selectionChange)="getRepoCommitHistory($event.value)">
                  <mat-option *ngFor="let item of repoData.refs.nodes"
                  [value]="item.name">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <app-commits-history-table
        [totalLinesLg]="totalLinesLg"
        [tableDataLoading]="tableDataLoading"
        [commitsHistory]="commitsHistory"></app-commits-history-table>
    </section>

    <app-sidebar [repoData]="repoData"></app-sidebar>
</main>