$line-color: #dadada;
$main-color: #444;
$letter-color: #465362;

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: $main-color;

    .header_sect {
        grid-area: header;
        border-bottom: 1px solid $line-color;
        padding-bottom: 15px;

        h1 {
            font-weight: 500;
            margin: 0;
        }
    }

    .main_container {
        width: 100%;
        grid-area: main;
    }
}

.spinner_cont {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "header header"
            "main aside";
        gap: 25px 50px;
    }
}